// Imports
@import "include-media";

// Variables
$main-light: #F8F7F4;
$main-dark: #343434;
$accent: #861F41;
$accent-dim: darken($accent, 15);
$letter-spacing: 0.1;
$mobile-h1-size: 40px;
$mobile-h2-size: 36px;
$mobile-h3-size: 24px;
$mobile-p-size: 12px;
$letter-spacing: 0.10px;

$breakpoints: (
    phone: 640px,
    tablet: 768px,
    desktop: 1024px
) !default;


// Helper Functions
@function multiply-px($value1, $value2) {
    @return calc($value1 * $value2 / 1px);
}

// Global
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: $main-dark;
    background-color: $main-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1, h2, h3, p {
        margin: 0px;
        
    }
    .btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $accent;
        color: $main-light;
        cursor: pointer;
        padding: 10px 20px;
        text-align: center;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        transition: 0.2s;
        img {
            width: 20px;
            margin-left: 10px;
        }
        text-decoration: none;
    }
    .btn:hover {
        background-color: $accent-dim;
    }
}

// Mobile
@include media (">= phone") {//, "< tablet") {
    .page {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0px;
        height: 800px;
        text-align: center;
        h1 {
            font-size: $mobile-h1-size;
            letter-spacing: multiply-px($mobile-h1-size, $letter-spacing);
        }
        h2 {
            font-size: $mobile-h3-size;
            letter-spacing: multiply-px($mobile-h3-size, $letter-spacing);
        }
        p {
            font-size: $mobile-p-size;
            letter-spacing: multiply-px($mobile-p-size, $letter-spacing);
            line-height: 2;
        }
        .profile {
            margin: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            #profile-photo {
                margin-bottom: 10px;
                border-radius: 50%;
                width: 148px;
                height: 148px;
                filter: drop-shadow(5px 5px 15px $main-dark);
            }
            .social-links {
                display: flex;
                width: 100px;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                height: 40px;
                padding: 10px;
                margin-bottom: 20px;
                a {

                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            } 
        }
        .contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h2 {
                margin-bottom: 10px;
            }
        }
        .read-more {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            margin-bottom: 50px;
            transition: 0.2s;
            img {
                transition: 0.2s;
                width: 24px;
                height: 24px;
            }
        }
        .read-more:hover {
            margin-bottom: 40px;
            img {
                margin-top: 10px;
            }
        }
        .skill-grid {
            margin-top: 40px;
            margin-bottom: 40px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .skill {
                background-color: $main-light;
                margin: 8px;
                height: 66px;
                width: 66px;
                border-radius: 10px;
                filter: drop-shadow(4px 4px 8px #787878);
                img {
                    margin: 11px;
                    width: 44px;
                    height: 44px;
                }
            }
        }
    }
    #skill-page {
        justify-content: flex-start;
    }
}

// Tablet
@include media (">= tablet", "< desktop") {

}

// Desktop
@include media (">= desktop") {

}


