:root {
  --shadow-color: 45deg 7% 44%;
  --shadow-elevation-low:
    0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.52),
    0.9px 0.9px 1.4px -1.2px hsl(var(--shadow-color) / 0.52),
    2.5px 2.4px 3.9px -2.5px hsl(var(--shadow-color) / 0.52);
  --shadow-elevation-medium:
    0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.44),
    1.5px 1.4px 2.3px -0.6px hsl(var(--shadow-color) / 0.44),
    3.1px 3px 4.9px -1.2px hsl(var(--shadow-color) / 0.44),
    6.3px 6.1px 9.9px -1.9px hsl(var(--shadow-color) / 0.44),
    12.3px 11.8px 19.2px -2.5px hsl(var(--shadow-color) / 0.44);
  --shadow-elevation-high:
    0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.41),
    3.3px 3.2px 5.2px -0.3px hsl(var(--shadow-color) / 0.41),
    6px 5.8px 9.4px -0.6px hsl(var(--shadow-color) / 0.41),
    9.3px 9px 14.6px -0.8px hsl(var(--shadow-color) / 0.41),
    13.7px 13.2px 21.4px -1.1px hsl(var(--shadow-color) / 0.41),
    19.8px 19.1px 30.9px -1.4px hsl(var(--shadow-color) / 0.41),
    28.2px 27.2px 44.1px -1.7px hsl(var(--shadow-color) / 0.41),
    39.6px 38.2px 61.9px -1.9px hsl(var(--shadow-color) / 0.41),
    54.5px 52.6px 85.2px -2.2px hsl(var(--shadow-color) / 0.41),
    73.5px 71px 115px -2.5px hsl(var(--shadow-color) / 0.41);
}

html {
  scroll-behavior: smooth;
}
html body {
  position: relative;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #343434;
  background-color: #F8F7F4;
}
html body h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
html body h2 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
html body h3 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
html body p {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2;
}
html body header {
  width: 100%;
  position: absolute;
  z-index: 10;
}
html body header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
html body main h1, html body main h2, html body main h3, html body main p {
  margin: 0px;
}
html body main .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #861F41;
  color: #F8F7F4;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease-out;
  box-shadow: var(--shadow-elevation-low);
  text-decoration: none;
}
html body main .btn img {
  width: 20px;
  margin-left: 10px;
}
html body main .btn:hover, html body main .btn:focus-visible {
  background-color: #481123;
}
html body main .grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
html body main .icon {
  transition: 0.2s ease-out;
  width: 24px;
  height: 24px;
}
html body main .anchor-target {
  display: block;
  position: relative;
  top: -85px;
}
html body footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
html body footer p {
  font-size: 10px;
}
html body .page {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
html body #landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
html body #landing-page .profile {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
html body #landing-page .profile #profile-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}
html body #landing-page .profile #profile-photo {
  margin-bottom: 24px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: var(--shadow-elevation-medium);
}
html body #landing-page .profile #profile-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body #landing-page .profile .social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
html body #landing-page .profile .social-links a {
  display: inline-block;
  width: 50px;
  height: 50px;
}
html body #landing-page .profile .social-links a img {
  display: block;
  width: 30px;
  height: 30px;
  padding: 10px;
  transition: 0.1s ease-out;
}
html body #landing-page .profile .social-links a:hover img, html body #landing-page .profile .social-links a:focus-visible img {
  width: 40px;
  height: 40px;
  padding: 5px;
}
html body #landing-page .contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  margin-top: 40px;
}
html body #landing-page .contact h2 {
  margin-bottom: 10px;
}
html body #landing-page .contact #resume-btn {
  margin-top: 16px;
  margin-bottom: 16px;
}
html body #landing-page .read-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  text-decoration: none;
  transition: 0.2s ease-out;
  color: #343434;
}
html body #skill-page {
  justify-content: flex-start;
}
html body #skill-page #xcode-icon {
  padding-left: 3px;
}
html body #skill-page .skill {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #F8F7F4;
  margin: 2rem;
  height: 5rem;
  width: 5rem;
  transition: 0.1s ease-out;
  position: relative;
  border-radius: 10px;
}
html body #skill-page .skill img {
  margin: 12px;
  width: 70%;
  height: 70%;
}
html body #skill-page .skill p {
  position: relative;
  width: 5rem;
  margin-top: 2px;
  text-align: center;
  font-size: 0.875rem;
}
html body #skill-page .skill::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  z-index: -1;
  box-shadow: var(--shadow-elevation-medium);
  pointer-events: none;
  transition: 0.1s ease-out;
}
html body #skill-page .skill:hover::before {
  z-index: -1;
  box-shadow: var(--shadow-elevation-high);
  transition: 0.3s ease-out;
}
html body #skill-page .skill:hover {
  transform: translate(0, -5px);
  transition: 0.3s ease-out;
}
html body #project-page {
  justify-content: flex-start;
}
html body #project-page .project {
  position: relative;
  background-color: #F8F7F4;
  margin: 16px;
  border-radius: 10px;
  transition: 0.1s ease-out;
}
html body #project-page .project a {
  text-decoration: none;
  color: #343434;
}
html body #project-page .project .project-thumbnail {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0px;
  margin: 0px;
  height: 50%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
html body #project-page .project .project-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
  padding: 16px;
  text-align: left;
}
html body #project-page .project .project-desc h3 {
  padding: 0px;
  margin: 0px;
  align-self: flex-start;
}
html body #project-page .project .project-desc p {
  margin-top: 16px;
  align-self: flex-start;
}
html body #project-page .project .project-desc .view-github {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  transition: 0.1s ease-out;
}
html body #project-page .project .project-desc .view-github p {
  margin-top: 0px;
  margin-right: 8px;
}
html body #project-page .project .project-desc .languages {
  margin-top: 8px;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  gap: 8px;
  align-self: flex-start;
}
html body #project-page .project .project-desc .languages p {
  font-size: 0.875rem;
  display: block;
  margin-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
  color: #F8F7F4;
  border-radius: 20px;
}
html body #project-page .project .project-desc .languages .lang-1 {
  background-color: orangered;
}
html body #project-page .project .project-desc .languages .lang-2 {
  background-color: blue;
}
html body #project-page .project .project-desc .languages .lang-3 {
  background-color: plum;
}
html body #project-page .project .project-desc .languages .lang-4 {
  background-color: teal;
}
html body #project-page .project::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  z-index: -1;
  box-shadow: var(--shadow-elevation-medium);
  pointer-events: none;
  transition: 0.1s ease-out;
}
html body #project-page .project:hover::before {
  z-index: -1;
  box-shadow: var(--shadow-elevation-high);
  transition: 0.3s ease-out;
}
html body #project-page .project:hover {
  transform: translate(0, -5px);
  transition: 0.3s ease-out;
}
html body #photography-page {
  justify-content: flex-start;
}
html body #photography-page .genre {
  margin: 16px;
  aspect-ratio: 16/9;
  transition: 0.1s ease-out;
  position: relative;
  border-radius: 10px;
}
html body #photography-page .genre a {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #F8F7F4;
}
html body #photography-page .genre a h2 {
  width: 95%;
}
html body #photography-page .genre::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  z-index: -1;
  box-shadow: var(--shadow-elevation-medium);
  pointer-events: none;
  transition: 0.1s ease-out;
}
html body #photography-page .genre:hover::before {
  z-index: -1;
  box-shadow: var(--shadow-elevation-high);
  transition: 0.3s ease-out;
}
html body #photography-page .genre:hover {
  transform: translate(0, -5px);
  transition: 0.3s ease-out;
}
html body #photography-page #aviation a {
  background: rgba(0, 0, 0, 0.2) url(../images/photo-thumbnails/aviation-2.webp);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #landscapes a {
  background: rgba(0, 0, 0, 0.2) url(../images/photo-thumbnails/landscapes-2.webp);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #weddings a {
  background: rgba(0, 0, 0, 0.2) url(../images/photo-thumbnails/weddings.webp);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #wildlife a {
  background: rgba(0, 0, 0, 0.2) url(../images/photo-thumbnails/wildlife.webp);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #pensacola a {
  background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-1.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #tol a {
  background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-2.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #rvaflyers a {
  background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-3.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #warbirds a {
  background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-4.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #f22 a {
  background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-5.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #commercial a {
  background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-6.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #jgg a {
  background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-7.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photography-page #emilymichael a {
  background: rgba(0, 0, 0, 0.2) url(../photography/weddings/thumbnails/michael-emily-thumb.jpg);
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}
html body #photo-genre-page {
  margin-top: 128px;
}
html body #photo-genre-page .image-gallery {
  margin-top: 64px;
  margin-bottom: 128px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
html body #photo-genre-page .image-gallery .photo-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 1 0;
}
html body #photo-genre-page .image-gallery .photo-column .photo-item img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
html body .genre-cats {
  margin-top: 128px;
}
html body .genre-cats #MAP-btn {
  margin-top: 128px;
  margin-bottom: 32px;
}

@media (min-width: 320px) and (max-width: 665px) {
  .menu {
    position: fixed;
    margin: 20px 20px;
    width: 100%;
    height: 20px;
  }
  .menu label {
    display: block;
    cursor: pointer;
    background: url(../images/icons/menu.svg) no-repeat center center;
    background-color: #F8F7F4;
    width: 20px;
    height: 20px;
    padding: 10px;
    transition: 0.1s ease-out;
    border-radius: 20px;
    box-shadow: var(--shadow-elevation-low);
  }
  .menu label:hover {
    box-shadow: var(--shadow-elevation-medium);
  }
  .menu nav {
    position: absolute;
    margin-top: 24px;
    display: block;
    visibility: hidden;
    opacity: 0;
    background: #F8F7F4;
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 20px;
    transition: opacity 0.2s ease-out;
    width: 80%;
    padding-left: 32px;
  }
  .menu nav a {
    display: block;
    text-decoration: none;
    color: #343434;
    padding: 0px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 2;
    transition: 0.2s ease-out;
  }
  .menu nav a:hover, .menu nav a:focus-visible {
    color: #861F41;
    transition: 0.2s ease-out;
  }
  .menu nav ul {
    display: flex;
    flex-direction: column;
  }
  .menu nav ul #photo-drop-content {
    display: none;
  }
  .menu nav ul #photo-drop-label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu nav ul #photo-drop-icon {
    display: none;
  }
  input#menu {
    display: none;
  }
  input:checked ~ label {
    background-image: url(../images/icons/close-svgrepo-com.svg);
  }
  input:checked ~ nav {
    display: block;
    visibility: visible;
    opacity: 100;
    transition: opacity 0.2s ease-out;
  }
  #landing-page {
    width: 100%;
  }
  #landing-page .profile {
    width: 100%;
  }
  #landing-page .profile #profile-header {
    flex-direction: column;
  }
  #landing-page .contact {
    width: 100%;
    flex-direction: column;
  }
  #project-page .project {
    width: 100%;
  }
  #photography-page .genre {
    width: 100%;
  }
  #skill-page {
    width: 100%;
  }
  #skill-page #skills-header {
    width: 85%;
  }
  #photo-genre-page .image-gallery {
    flex-direction: column;
  }
}
@media (min-width: 666px) and (max-width: 767px) {
  .menu {
    position: fixed;
    margin: 20px 20px;
    width: 100%;
    height: 20px;
  }
  .menu label {
    display: block;
    cursor: pointer;
    background: url(../images/icons/menu.svg) no-repeat center center;
    background-color: #F8F7F4;
    width: 20px;
    height: 20px;
    padding: 10px;
    transition: 0.1s ease-out;
    border-radius: 20px;
    box-shadow: var(--shadow-elevation-low);
  }
  .menu label:hover {
    box-shadow: var(--shadow-elevation-medium);
  }
  .menu nav {
    position: absolute;
    margin-top: 24px;
    display: block;
    visibility: hidden;
    opacity: 0;
    background: #F8F7F4;
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 20px;
    transition: opacity 0.2s ease-out;
    width: 80%;
    padding-left: 32px;
  }
  .menu nav a {
    display: block;
    text-decoration: none;
    color: #343434;
    padding: 0px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 2;
    transition: 0.2s ease-out;
  }
  .menu nav a:hover, .menu nav a:focus-visible {
    color: #861F41;
    transition: 0.2s ease-out;
  }
  .menu nav ul {
    display: flex;
    flex-direction: column;
  }
  .menu nav ul #photo-drop-content {
    display: none;
  }
  .menu nav ul #photo-drop-label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu nav ul #photo-drop-icon {
    display: none;
  }
  input#menu {
    display: none;
  }
  input:checked ~ label {
    background-image: url(../images/icons/close-svgrepo-com.svg);
  }
  input:checked ~ nav {
    display: block;
    visibility: visible;
    opacity: 100;
    transition: opacity 0.2s ease-out;
  }
  #landing-page {
    width: 100%;
  }
  #landing-page .profile {
    width: 100%;
  }
  #landing-page .profile #profile-header {
    flex-direction: column;
  }
  #landing-page .contact {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: row;
  }
  #project-page .project {
    width: 100%;
  }
  #photography-page .genre {
    width: 100%;
  }
  #photo-genre-page .image-gallery {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    width: 100%;
    position: fixed;
    background-color: #F8F7F4;
    box-shadow: var(--shadow-elevation-low);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu label {
    display: none;
  }
  .menu nav {
    width: 85%;
    align-self: left;
  }
  .menu nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: left;
  }
  .menu nav ul #photo-drop-content {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    background-color: #F8F7F4;
    border-radius: 0px 0px 10px 10px;
    box-shadow: var(--shadow-elevation-low);
  }
  .menu nav ul #photo-drop-label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu nav ul #photo-drop-icon {
    transition: 0.2s ease-out;
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
    background-image: url("../images/icons/chevron-right.svg");
    background-size: contain;
  }
  .menu nav ul #photo-drop:focus-within #photo-drop-content, .menu nav ul #photo-drop:hover #photo-drop-content {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.2s ease-out;
  }
  .menu nav ul #photo-drop:focus-within #photo-drop-icon, .menu nav ul #photo-drop:hover #photo-drop-icon {
    background-image: url("../images/icons/chevron-down.svg");
  }
  .menu nav a {
    display: flex;
    text-decoration: none;
    color: #343434;
    padding: 10px;
    padding-right: 30px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 2;
    transition: 0.2s ease-out;
  }
  .menu nav a:hover, .menu nav label:hover {
    color: #861F41;
    transition: 0.2s ease-out;
  }
  input#menu {
    display: none;
  }
  #landing-page .profile {
    width: 100%;
  }
  #landing-page .profile #profile-header {
    flex-direction: row;
  }
  #landing-page .contact {
    width: 100%;
    flex-direction: row;
  }
  #project-page .project {
    width: 100%;
  }
  #photography-page .genre {
    width: 100%;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .menu {
    width: 100%;
    position: fixed;
    background-color: #F8F7F4;
    box-shadow: var(--shadow-elevation-low);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu label {
    display: none;
  }
  .menu nav {
    width: 85%;
    align-self: left;
  }
  .menu nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: left;
  }
  .menu nav ul #photo-drop-content {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    background-color: #F8F7F4;
    border-radius: 0px 0px 10px 10px;
    box-shadow: var(--shadow-elevation-low);
  }
  .menu nav ul #photo-drop-label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu nav ul #photo-drop-icon {
    transition: 0.2s ease-out;
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
    background-image: url("../images/icons/chevron-right.svg");
    background-size: contain;
  }
  .menu nav ul #photo-drop:focus-within #photo-drop-content, .menu nav ul #photo-drop:hover #photo-drop-content {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.2s ease-out;
  }
  .menu nav ul #photo-drop:focus-within #photo-drop-icon, .menu nav ul #photo-drop:hover #photo-drop-icon {
    background-image: url("../images/icons/chevron-down.svg");
  }
  .menu nav a {
    display: flex;
    text-decoration: none;
    color: #343434;
    padding: 10px;
    padding-right: 30px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 2;
    transition: 0.2s ease-out;
  }
  .menu nav a:hover, .menu nav label:hover {
    color: #861F41;
    transition: 0.2s ease-out;
  }
  input#menu {
    display: none;
  }
  #landing-page .profile {
    width: 75%;
  }
  #landing-page .profile #profile-header {
    flex-direction: row;
  }
  #landing-page .contact {
    width: 65%;
    flex-direction: row;
  }
  #project-page .project {
    width: 40%;
  }
  #photography-page .genre {
    width: 40%;
  }
}
@media (min-width: 1200px) and (max-width: 1799px) {
  .menu {
    width: 100%;
    position: fixed;
    background-color: #F8F7F4;
    box-shadow: var(--shadow-elevation-low);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu label {
    display: none;
  }
  .menu nav {
    width: 85%;
    align-self: left;
  }
  .menu nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: left;
  }
  .menu nav ul #photo-drop-content {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    background-color: #F8F7F4;
    border-radius: 0px 0px 10px 10px;
    box-shadow: var(--shadow-elevation-low);
  }
  .menu nav ul #photo-drop-label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu nav ul #photo-drop-icon {
    transition: 0.2s ease-out;
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
    background-image: url("../images/icons/chevron-right.svg");
    background-size: contain;
  }
  .menu nav ul #photo-drop:focus-within #photo-drop-content, .menu nav ul #photo-drop:hover #photo-drop-content {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.2s ease-out;
  }
  .menu nav ul #photo-drop:focus-within #photo-drop-icon, .menu nav ul #photo-drop:hover #photo-drop-icon {
    background-image: url("../images/icons/chevron-down.svg");
  }
  .menu nav a {
    display: flex;
    text-decoration: none;
    color: #343434;
    padding: 10px;
    padding-right: 30px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 2;
    transition: 0.2s ease-out;
  }
  .menu nav a:hover, .menu nav label:hover {
    color: #861F41;
    transition: 0.2s ease-out;
  }
  input#menu {
    display: none;
  }
  #landing-page .profile {
    width: 75%;
  }
  #landing-page .profile #profile-header {
    flex-direction: row;
  }
  #landing-page .contact {
    width: 65%;
    flex-direction: row;
  }
  #project-page .project {
    width: 40%;
  }
  #photography-page .genre {
    width: 40%;
  }
}
@media (min-width: 1800px) {
  .menu {
    width: 100%;
    position: fixed;
    background-color: #F8F7F4;
    box-shadow: var(--shadow-elevation-low);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu label {
    display: none;
  }
  .menu nav {
    width: 85%;
    align-self: left;
  }
  .menu nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: left;
  }
  .menu nav ul #photo-drop-content {
    position: absolute;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    background-color: #F8F7F4;
    border-radius: 0px 0px 10px 10px;
    box-shadow: var(--shadow-elevation-low);
  }
  .menu nav ul #photo-drop-label {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menu nav ul #photo-drop-icon {
    transition: 0.2s ease-out;
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
    background-image: url("../images/icons/chevron-right.svg");
    background-size: contain;
  }
  .menu nav ul #photo-drop:focus-within #photo-drop-content, .menu nav ul #photo-drop:hover #photo-drop-content {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.2s ease-out;
  }
  .menu nav ul #photo-drop:focus-within #photo-drop-icon, .menu nav ul #photo-drop:hover #photo-drop-icon {
    background-image: url("../images/icons/chevron-down.svg");
  }
  .menu nav a {
    display: flex;
    text-decoration: none;
    color: #343434;
    padding: 10px;
    padding-right: 30px;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 2;
    transition: 0.2s ease-out;
  }
  .menu nav a:hover, .menu nav label:hover {
    color: #861F41;
    transition: 0.2s ease-out;
  }
  input#menu {
    display: none;
  }
  #landing-page {
    width: 50%;
  }
  #landing-page .profile {
    width: 50%;
  }
  #landing-page .profile #profile-header {
    flex-direction: row;
  }
  #landing-page .contact {
    width: 65%;
    flex-direction: row;
  }
  #project-page .project {
    width: 40%;
  }
  #photography-page .genre {
    width: 40%;
  }
  #skill-page {
    width: 50%;
  }
}/*# sourceMappingURL=style.css.map */