@charset "UTF-8";
// Imports
@import "include-media";

// Variables
$main-light: #F8F7F4;
$main-dark: #343434;
$accent: #861F41;
$accent-dim: darken($accent, 15);
$letter-spacing: 0.1rem;

$page-width: 85%;
$h1-size: 2.5rem;
$h2-size: 2rem;
$h3-size: 1.5rem;
$p-size: 1rem;
$subp-size: 0.875rem;
$skill-size: 5rem;

// Menu/Navbar Mixins
@mixin mobileNav {
    .menu {
        position: fixed;
        margin: 20px 20px;
        width: 100%;
        height: 20px;
        label {
            display: block;
            cursor: pointer;
            background: url(../images/icons/menu.svg) no-repeat center center;
            background-color: $main-light;
            width: 20px;
            height: 20px;
            padding: 10px;
            transition: 0.1s ease-out;
            border-radius: 20px;
            box-shadow: var(--shadow-elevation-low);
        }
        label:hover {
            box-shadow: var(--shadow-elevation-medium);
        }
        nav {
            position: absolute;
            margin-top: 24px;
            display: block;
            visibility: hidden;
            opacity: 0;
            background: $main-light;
            box-shadow: var(--shadow-elevation-medium);
            border-radius: 20px;
            transition: opacity 0.2s ease-out;
            width: 80%;
            padding-left: 32px;
            a {
                display: block;
                text-decoration: none;
                color: $main-dark;
                padding: 0px;
                font-size: $p-size;
                letter-spacing: $letter-spacing;
                line-height: 2;
                transition: 0.2s ease-out;
            }
            a:hover, a:focus-visible {
                color: $accent;
                //font-weight: bold;
                transition: 0.2s ease-out;
            }
            ul {
                display: flex;
                flex-direction: column;
                #photo-drop-content {
                    display: none;
                }
                #photo-drop-label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                #photo-drop-icon {
                    display: none;
                }
            }
        }
    }
    input#menu {
        display: none;
    }
    input:checked ~ label {
        background-image: url(../images/icons/close-svgrepo-com.svg);
    }
    input:checked ~ nav {
        display: block;
        visibility: visible;
        opacity: 100;
        transition: opacity 0.2s ease-out;
    }
}

@mixin desktopNav {
    .menu {
        width: 100%;
        position: fixed;
        //padding: 10px 0px 10px 0px;
        background-color: $main-light;
        box-shadow: var(--shadow-elevation-low);
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
            display: none;
        }
        nav {
            width: 85%;
            align-self: left;
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-self: left;
                #photo-drop-content {
                    position: absolute;
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.2s ease-out;
                    background-color: $main-light;
                    border-radius: 0px 0px 10px 10px;
                    box-shadow: var(--shadow-elevation-low);
                }
                #photo-drop-label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
                #photo-drop-icon {
                    transition: 0.2s ease-out;
                    width: $p-size;
                    height: $p-size;
                    margin-left: 5px;
                    background-image: url("../images/icons/chevron-right.svg");
                    background-size: contain;
                }
                #photo-drop:focus-within #photo-drop-content, #photo-drop:hover #photo-drop-content {
                    visibility: visible;
                    opacity: 1;
                    pointer-events: auto;
                    transition: opacity 0.2s ease-out;
                }
                #photo-drop:focus-within #photo-drop-icon, #photo-drop:hover #photo-drop-icon {
                    background-image: url("../images/icons/chevron-down.svg");
                }
            }
            a {
                display: flex;
                text-decoration: none;
                //font-weight: bold;
                color: $main-dark;
                padding: 10px;
                padding-right: 30px;
                font-size: $p-size;
                letter-spacing: $letter-spacing;
                line-height: 2;
                transition: 0.2s ease-out;
            }
            a:hover, label:hover {
                color: $accent;
                //font-weight: bold;
                transition: 0.2s ease-out;
            }
        }
    }
    input#menu {
        display: none;
    }
}

// Shadow pallete generated from Josh Comeau's Shadow Pallete Generator https://www.joshwcomeau.com/shadow-palette/
:root {
    --shadow-color: 45deg 7% 44%;
    --shadow-elevation-low:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.52),
      0.9px 0.9px 1.4px -1.2px hsl(var(--shadow-color) / 0.52),
      2.5px 2.4px 3.9px -2.5px hsl(var(--shadow-color) / 0.52);
    --shadow-elevation-medium:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.44),
      1.5px 1.4px 2.3px -0.6px hsl(var(--shadow-color) / 0.44),
      3.1px 3px 4.9px -1.2px hsl(var(--shadow-color) / 0.44),
      6.3px 6.1px 9.9px -1.9px hsl(var(--shadow-color) / 0.44),
      12.3px 11.8px 19.2px -2.5px hsl(var(--shadow-color) / 0.44);
    --shadow-elevation-high:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.41),
      3.3px 3.2px 5.2px -0.3px hsl(var(--shadow-color) / 0.41),
      6px 5.8px 9.4px -0.6px hsl(var(--shadow-color) / 0.41),
      9.3px 9px 14.6px -0.8px hsl(var(--shadow-color) / 0.41),
      13.7px 13.2px 21.4px -1.1px hsl(var(--shadow-color) / 0.41),
      19.8px 19.1px 30.9px -1.4px hsl(var(--shadow-color) / 0.41),
      28.2px 27.2px 44.1px -1.7px hsl(var(--shadow-color) / 0.41),
      39.6px 38.2px 61.9px -1.9px hsl(var(--shadow-color) / 0.41),
      54.5px 52.6px 85.2px -2.2px hsl(var(--shadow-color) / 0.41),
      73.5px 71px 115px -2.5px hsl(var(--shadow-color) / 0.41);
}


// Global
html {
    scroll-behavior: smooth;
    body {
        position: relative;
        margin: 0;
        font-family: 'Inter', sans-serif;
        color: $main-dark;
        background-color: $main-light;
        h1 {
            font-size: $h1-size;
            letter-spacing: $letter-spacing;
        }
        h2 {
            font-size: $h2-size;
            letter-spacing: $letter-spacing;
        }
        h3 {
            font-size: $h3-size;
            letter-spacing: $letter-spacing;
        }
        p {
            font-size: $p-size;
            letter-spacing: $letter-spacing;
            line-height: 2;
        }
        header {
            width: 100%;
            position: absolute;
            z-index: 10;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h1, h2, h3, p {
                margin: 0px;
            }
            .btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                background-color: $accent;
                color: $main-light;
                cursor: pointer;
                padding: 10px 20px;
                text-align: center;
                font-weight: bold;
                border: none;
                border-radius: 10px;
                transition: 0.2s ease-out;
                box-shadow: var(--shadow-elevation-low);
                img {
                    width: 20px;
                    margin-left: 10px;
                }
                text-decoration: none;
            }
            .btn:hover, .btn:focus-visible {
                background-color: $accent-dim;
            }
            .grid {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin-top: 40px;
                margin-bottom: 40px;
            }
            .icon {
                transition: 0.2s ease-out;
                width: 24px;
                height: 24px;
            }
            .anchor-target {
                display: block;
                position: relative;
                top: -85px;
            }
        }
        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 50px;
            p {
                font-size: 10px;
            }
        }
        // DEFAULT DESKTOP
        .page {
            width: $page-width;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
        }
        #landing-page {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 120px;
            //justify-content: space-around;
            //height: 800px;
            .profile {
                margin: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                width: 75%;
                #profile-header {
                    width: 100%;
                    display: flex;
                    //flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    margin-bottom: 40px;
                }
                #profile-photo {
                    margin-bottom: 24px;
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    box-shadow: var(--shadow-elevation-medium);
                }
                #profile-text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .social-links {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    height: 50px;
                    a {
                        display: inline-block;
                        //position: relative;
                        width: 50px;
                        height: 50px;
                        img {
                            display: block;
                            width: 30px;
                            height: 30px;
                            padding: 10px;
                            transition: 0.1s ease-out;
                        }
                    }
                    a:hover, a:focus-visible {
                        img {
                            width: 40px;
                            height: 40px;
                            padding: 5px;
                        }
                    }
                } 
            }
            .contact {
                //width: 65%;
                display: flex;
                //flex-direction: row;
                align-items: center;
                justify-content: space-around;
                text-align: left;
                margin-top: 40px;

                h2 {
                    margin-bottom: 10px;
                }
                #resume-btn {
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
            }
            .read-more {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                margin-top: 40px;
                text-decoration: none;
                transition: 0.2s ease-out;
                color: $main-dark;
            }
        }
        #skill-page {
            justify-content: flex-start;
            #xcode-icon {
                padding-left: 3px;
            }
            .skill {
                display: flex;
                flex-direction: column;
                align-content: center;
                background-color: $main-light;
                margin: 2rem;
                height: $skill-size;
                width: $skill-size;
                transition: 0.1s ease-out;
                position: relative;
                border-radius: 10px;
                //z-index: 1;
                img {
                    margin: 12px;
                    width: 70%;
                    height: 70%;
                }
                p {
                    position: relative;
                    width: $skill-size;
                    //left: -1rem;
                    margin-top: 2px;
                    text-align: center;
                    font-size: $subp-size;
                }
            }
            .skill::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 10px;
                z-index: -1;
                box-shadow: var(--shadow-elevation-medium);
                pointer-events: none;
                transition: 0.1s ease-out;
            }
            .skill:hover::before {
                z-index: -1;
                box-shadow: var(--shadow-elevation-high);
                transition: 0.3s ease-out;
            }
            .skill:hover {
                transform: translate(0, -5px);
                transition: 0.3s ease-out;
            }
    
        }
        #project-page {
            justify-content: flex-start;
            .project {
                position: relative;
                //overflow: hidden;
                background-color: $main-light;
                margin: 16px;
                //height: 256px;
                //width: 40%;
                border-radius: 10px;
                transition: 0.1s ease-out;
                a {
                    text-decoration: none;
                    color: $main-dark;
                }
                .project-thumbnail {
                    object-fit: cover;
                    padding: 0px;
                    margin: 0px;
                    height: 50%;
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;;
                }
                .project-desc {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    align-self: flex-start;
                    padding: 16px;
                    text-align: left;
                    h3 {
                        padding: 0px;
                        margin: 0px;
                        align-self: flex-start;
                    }
                    p {
                        margin-top: 16px;
                        align-self: flex-start;
                    }
                    .view-github {
                        margin-top: 16px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        align-self: flex-end;
                        transition: 0.1s ease-out;
                        p {
                            margin-top: 0px;
                            margin-right: 8px;
                        }
                    }
                    .languages {
                        margin-top: 8px;
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: left;
                        gap: 8px;
                        align-self: flex-start;
                        p {
                            font-size: $subp-size;
                            display: block;
                            margin-top: 0px;
                            padding-right: 8px;
                            padding-left: 8px;
                            color: $main-light;
                            border-radius: 20px;
                        }
                        .lang-1 {
                            background-color: orangered;
                        }
                        .lang-2 {
                            background-color: blue;
                        }
                        .lang-3 {
                            background-color: plum;
                        }
                        .lang-4 {
                            background-color: teal;
                        }
                    }
                }
            }
            .project::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 10px;
                z-index: -1;
                box-shadow: var(--shadow-elevation-medium);
                pointer-events: none;
                transition: 0.1s ease-out;
            }
            .project:hover::before {
                z-index: -1;
                box-shadow: var(--shadow-elevation-high);
                transition: 0.3s ease-out;
            }
            .project:hover {
                transform: translate(0, -5px);
                transition: 0.3s ease-out;
            }
        }
        #photography-page {
            //height: 800px;
            justify-content: flex-start;
            .genre {
                margin: 16px;
                //width: 40%;
                aspect-ratio: 16 / 9;
                transition: 0.1s ease-out;
                position: relative;
                border-radius: 10px;
                a {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: $main-light;
                    h2 {
                        width: 95%;
                    }
                }
            }
            .genre::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 10px;
                z-index: -1;
                box-shadow: var(--shadow-elevation-medium);
                pointer-events: none;
                transition: 0.1s ease-out;
            }
            .genre:hover::before {
                z-index: -1;
                box-shadow: var(--shadow-elevation-high);
                transition: 0.3s ease-out;
            }
            .genre:hover {
                transform: translate(0, -5px);
                transition: 0.3s ease-out;
            }

            #aviation a {
                background: rgba(0, 0, 0, 0.2) url(../images/photo-thumbnails/aviation-2.webp);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #landscapes a {
                background: rgba(0, 0, 0, 0.2) url(../images/photo-thumbnails/landscapes-2.webp);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #weddings a {
                background: rgba(0, 0, 0, 0.2) url(../images/photo-thumbnails/weddings.webp);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #wildlife a {
                background: rgba(0, 0, 0, 0.2) url(../images/photo-thumbnails/wildlife.webp);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #pensacola a {
                background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-1.jpg);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #tol a {
                background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-2.jpg);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #rvaflyers a {
                background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-3.jpg);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #f22 a {
                background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-5.jpg);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #commercial a {
                background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-6.jpg);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #jgg a {
                background: rgba(0, 0, 0, 0.2) url(../photography/aviation/thumbnails/thumb-7.jpg);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            #emilymichael a {
                background: rgba(0, 0, 0, 0.2) url(../photography/weddings/thumbnails/michael-emily-thumb.jpg);
                background-size: cover;
                background-position: center center;
                background-blend-mode: darken;
            }
            
        }
        #photo-genre-page {
            margin-top: 128px;
            .image-gallery {
                margin-top: 64px;
                margin-bottom: 128px;
                display: flex;
                //flex-direction: row;
                gap: 10px;
                justify-content: center;
                .photo-column {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    flex: 1 1 0;
                    //width: 25%;
                    .photo-item {
                        img {
                            width: 100%;
                            border-radius: 5px;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        .genre-cats {
            margin-top: 128px;
            #MAP-btn {
                margin-top: 128px;
                margin-bottom: 32px;
            }
        }
    }
}


// Min - Mobile
@include media (">= min", "< phone") {
    @include mobileNav();
    #landing-page {
        width: 100%;
        .profile {
            width: 100%;
            #profile-header {
                flex-direction: column;
            }
        }
        .contact {
            width: 100%;
            flex-direction: column;
        }
    }
    #project-page {
        .project {
            width: 100%;
        }
    }
    #photography-page {
        .genre {
            width: 100%;
        }
    }
    #skill-page {
        #skills-header {
            width: 85%;
        }
        width: 100%
    }
    #photo-genre-page {
        .image-gallery {
            flex-direction: column;
        }
    }
}

// Mobile - Tablet
@include media (">=phone", "<tablet") {
    @include mobileNav();
    #landing-page {
        width: 100%;
        .profile {
            width: 100%;
            #profile-header {
                flex-direction: column;
            }
        }
        .contact {
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;
            flex-direction: row;
        }
    }
    #project-page {
        .project {
            width: 100%;
        }
    }
    #photography-page {
        .genre {
            width: 100%;
        }
    }
    #photo-genre-page {
        .image-gallery {
            flex-direction: column;
        }
    }
}

// Tablet - Small Desktop
@include media (">=tablet", "<desktopS") {
    @include desktopNav();
    #landing-page {
        .profile {
            width: 100%;
            #profile-header {
                flex-direction: row;
            }
        }
        .contact {
            width: 100%;
            flex-direction: row;
        }
    }
    #project-page {
        .project {
            width: 100%;
        }
    }
    #photography-page {
        .genre {
            width: 100%;
        }
    }
}

// Small - Med Desktop
@include media (">=desktopS", "<desktopM") {
    @include desktopNav();
    #landing-page {
        .profile {
            width: 75%;
            #profile-header {
                flex-direction: row;
            }
        }
        .contact {
            width: 65%;
            flex-direction: row;
        }
    }
    #project-page {
        .project {
            width: 40%;
        }
    }
    #photography-page {
        .genre {
            width: 40%;
        }
    }
}

// Med - Lg Desktop
@include media (">=desktopM", "<desktopL") {
    @include desktopNav();
    #landing-page {
        .profile {
            width: 75%;
            #profile-header {
                flex-direction: row;
            }
        }
        .contact {
            width: 65%;
            flex-direction: row;
        }
    }
    #project-page {
        .project {
            width: 40%;
        }
    }
    #photography-page {
        .genre {
            width: 40%;
        }
    }
}

// Lg Desktop +
@include media (">=desktopL") {
    @include desktopNav();
    #landing-page {
        width: 50%;
        .profile {
            width: 50%;
            #profile-header {
                flex-direction: row;
            }
        }
        .contact {
            width: 65%;
            flex-direction: row;
        }
    }
    #project-page {
        .project {
            width: 40%;
        }
    }
    #photography-page {
        .genre {
            width: 40%;
        }
    }
    #skill-page {
        width: 50%
    }
}



